html {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  background-color: #d05c2e;
  margin: 0;
  padding: .5em;
  text-align: center;
  font-weight: bold;
}

nav {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  list-style-type: none;
  background-color: #d05c2e;
  border: 1px solid #a63f38;
  margin: 0;
  text-align: center;
  display: inline;
  width: 33.33%;
}

a {
  display: block;
  padding: 1em;
}

a:hover {
  background-color: #a63f38;
}

.grain-left {
  float: left;
  width: 50px;
  margin-top: .5em;
}

.grain-right {
  float: right;
  width: 50px;
  margin-top: .5em;
}
